################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Centralized-Logging-System/.vs/Centralized-Logging-System/v17
