################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Centralized-Logging-System/LoggingQueuePublisher/bin/Debug/net7.0
/Centralized-Logging-System/LoggingQueuePublisher/obj
